<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <!-- BEGIN: Vendor CSS-->
        <link rel="stylesheet" type="text/css" href="/stack-admin/app-assets/vendors/css/vendors.min.css">
        <link rel="stylesheet" type="text/css" href="/stack-admin/app-assets/vendors/css/forms/icheck/icheck.css">
        <link rel="stylesheet" type="text/css" href="/stack-admin/app-assets/vendors/css/forms/icheck/custom.css">
        <!-- END: Vendor CSS-->

        <!-- BEGIN: Theme CSS-->
        <link rel="stylesheet" type="text/css" href="/stack-admin/app-assets/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stack-admin/app-assets/css/bootstrap-extended.min.css">
        <link rel="stylesheet" type="text/css" href="/stack-admin/app-assets/css/colors.min.css">
        <link rel="stylesheet" type="text/css" href="/stack-admin/app-assets/css/components.min.css">

        {% block stylesheets %}{% endblock %}
    </head>

        {% block body %}{% endblock %}
        <!-- BEGIN: Vendor JS-->
        <script src="/stack-admin/app-assets/vendors/js/vendors.min.js"></script>
        <!-- BEGIN Vendor JS-->

        <!-- BEGIN: Page Vendor JS-->
        <script src="/stack-admin/app-assets/vendors/js/forms/icheck/icheck.min.js"></script>
        <script src="/stack-admin/app-assets/vendors/js/forms/validation/jqBootstrapValidation.js"></script>
        <!-- END: Page Vendor JS-->

        <!-- BEGIN: Theme JS-->
        <script src="/stack-admin/app-assets/js/core/app-menu.min.js"></script>
        <script src="/stack-admin/app-assets/js/core/app.min.js"></script>
        {% block javascripts %}{% endblock %}


</html>
